{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}
  <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml" />
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Leyte DEWS') }}{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}" class="dews-brand">
    <span class="dews-mark">⛑</span>
    <span class="dews-brand-text">
      <strong>Leyte DEWS</strong>
      <small>MDRRMO Administration</small>
    </span>
  </a>
</div>
{% if user.is_anonymous %}{% include "admin/color_theme_toggle.html" %}{% endif %}
{% endblock %}
